body {
  background-image: url('https://images4.alphacoders.com/909/thumb-1920-909912.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white
}